.form-body{
    width: 500px;
    height: 700px;
    margin: 20px auto;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding-left: 40px;
}
.hr-style hr{
    width:150px;
height: 0px;

border: 1px solid #95A0A7;


}
.hr-style{
 
    display: flex;
}
.hr1{
    margin-left: 10px;
}
.hr2{
    margin-left: 50px;
}
.error{
    color: red;
    font-size: 15px;
}
.success{
    color: green;
    font-size: 15px;
}